<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uts3back.mapper.ImagesMapper">
    <insert id="insertImage" parameterType="com.uts3back.dto.ImagesDTO">
        INSERT INTO Images (imgID, serviceID, imgOriName, imgChanName, imgExt, imgUptime, imgSize)
        VALUES (#{imgID}, #{serviceID}, #{imgOriName}, #{imgChanName}, #{imgExt}, #{imgUptime}, #{imgSize})
    </insert>

    <!-- 수정 기능 추가 -->
    <update id="updateImage" parameterType="com.uts3back.dto.ImagesDTO">
        UPDATE Images
        SET imgOriName = #{imgOriName},
            imgChanName = #{imgChanName},
            imgExt = #{imgExt},
            imgUptime = #{imgUptime},
            imgSize = #{imgSize}
        WHERE imgID = #{imgID}
    </update>

    <!-- 삭제 기능 추가 -->
    <delete id="deleteImage" parameterType="java.lang.String">
        DELETE FROM Images
        WHERE imgID = #{imgID}
    </delete>

    <!-- 조회 기능 추가 -->
    <select id="getImage" parameterType="java.lang.String" resultType="com.uts3back.dto.ImagesDTO">
        SELECT * FROM Images
        WHERE imgID = #{imgID}
    </select>

    <select id="getImagesByServiceID" parameterType="java.lang.String" resultType="com.uts3back.dto.ImagesDTO">
        SELECT * FROM Images
        WHERE serviceID = #{serviceID}
        ORDER BY imgUptime DESC
    </select>

    <select id="checkRightImage" parameterType="java.lang.String" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM UsersService US
                     INNER JOIN Images I ON US.userServiceID = I.serviceID
            WHERE US.email = #{email}
        )
    </select>

    <select id="findEmailByImgID" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT US.email
        FROM UsersService US
                 INNER JOIN Images I ON US.userServiceID = I.serviceID
        WHERE I.imgID = #{imgID}
    </select>





</mapper>
