<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uts3back.mapper.UsersServiceMapper">

    <select id="usersServiceListFind" resultType="com.uts3back.dto.UsersServiceDTO">
        SELECT * FROM UsersService WHERE email = #{email}
    </select>

    <select id="usersServiceFind" resultType="com.uts3back.dto.UsersServiceDTO">
        SELECT * FROM UsersService WHERE userServiceID = #{userServiceID}
    </select>

    <insert id="insertUsersService" parameterType="com.uts3back.dto.UsersServiceDTO">
        INSERT INTO UsersService (userServiceID, email, userServiceKey, userServiceInfo, userServiceName)
        VALUES (#{userServiceID}, #{email}, #{userServiceKey}, #{userServiceInfo}, #{userServiceName})
    </insert>

    <select id="checkUsersServiceName" resultType="com.uts3back.dto.UsersServiceDTO">
        SELECT * FROM UsersService WHERE userServiceName = #{userServiceName}
    </select>

    <delete id="deleteUsersService" parameterType="String">
        DELETE FROM UsersService WHERE userServiceID = #{userServiceID}
    </delete>


</mapper>
